@mixin triangle($size, $side, $left: 0, $top: 0, $color: red) {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: $left;
        top: $top;
        border: $size solid transparent;
        border-#{$side}-color: $color;
    }
}